[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
tqdm = "*"
visdom = "*"
crayons = "*"
torchvision = "*"
cffi = "*"
pip = "*"
ipython = "*"
torch = "*"
nltk = "*"
