[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.5"


[dev-packages]



[packages]

"50178e2" = {file = "http://download.pytorch.org/whl/cu80/torch-0.2.0.post3-cp35-cp35m-manylinux1_x86_64.whl"}
numpy = "*"
scipy = "*"
tqdm = "*"