-i https://pypi.python.org/simple
backcall==0.1.0
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
crayons==0.2.0
decorator==4.4.0
idna==2.8
ipython-genutils==0.2.0
ipython==8.10.0
jedi==0.13.3
nltk==3.4.5
numpy==1.22.0
parso==0.4.0
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pillow==9.3.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
pygments==2.7.4
pyzmq==18.0.1
requests==2.21.0
scipy==1.2.1
six==1.12.0
torch==1.13.1
torchfile==0.1.0
torchvision==0.2.2.post3
tornado==6.3.2
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.26.5
visdom==0.1.8.8
wcwidth==0.1.7
websocket-client==0.56.0
